body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navbar {
  background-color: navy;
  height: 40px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 10px;
}

li {
  display: inline;
}

li a {
  text-align: center;
  margin: 10px;
  color: red;
}

li a:hover {
  background-color: powderblue;
}

select {
  font-weight: bold;
  font-size: 12px;
}

.green {
  color: green;
  background-color: lightgreen;
}

.red {
  color: red;
  background-color: lightpink;
}

table {
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: yellow;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

th {
  padding: 15px;
}

p {
  padding: 10px;
}

.center {
  padding: 10px;
  text-align: center;
}

form input {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin: 10px;
  border: 20px transparent;
  font-weight: bold;
}

#new-train {
  color: yellow;
  font-weight: bold;
  background-color: black;
}

#edit-train {
  color: yellow;
  font-weight: bold;
  background-color: black;
}

textarea {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: black;
  border: 1px black;
  width: 100%;
  height: 160px;
}

#station-buttons-div {
  display: flex;
  justify-content: center;
}

.station-button {
  color: red;
  background-color: navy;
  padding: 10px;
  font-size: 20px;
}

.board-button {
  color: yellow;
  background-color: black;
  font-weight: bold;
  border: none;
}

button {
  cursor: pointer;
}

#search-btn {
  margin: 10px;
  background-color: navy;
  color: red;
  font-size: 20px;
}

.submit-btn {
  margin: 10px;
  background-color: navy;
  color: red;
  font-size: 20px;
}

.clear-btn {
  margin: 10px;
  background-color: red;
  color: navy;
  font-size: 20px;
}

.cancel-btn {
  margin: 10px;
  background-color: red;
  color: navy;
  font-size: 20px;
}

.errors {
  border: 5px solid red;
}

.hidden {
  visibility: hidden;
}

/* .display-item {
  color: yellow;
  background-color: black;
} */
